<header>
  <nav class="header-nav">
    <div>
      <img class="header-icon" src="https://img.icons8.com/ios/50/ffffff/book.png"/>
      <a class="header-title" href="/">Mybrary</a>
    </div>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>